<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swp.dataweb.dao.SubjectMapper">

    <select id="selectPartnerSubject" resultType="Subject">
        select id,
               subject_name,
               subject_type,
               unit,
               owner,
               created,
               updated,
               state,
               postscript,
               user_id
        from subject
        where id in (
            select subject_id
            from subject_partner
            where user_id = #{userId}
        )
    </select>

</mapper>
