<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swp.dataweb.dao.SubjectTypeMapper">

    <update id="updateOrInsert" useGeneratedKeys="true" keyProperty="id" parameterType="UserSubjectType">
        insert into
        user_subject_type(id,user_id,subject_type)
        values
        (#{id},#{userId},#{subjectType})
        <!--存在即可修改下述字段的数据，注意values()中的内容是数据表中相应的字段名-->
        ON DUPLICATE KEY UPDATE
        subject_type=values(subject_type)
    </update>

    <select id="findType" resultType="UserSubjectType">
        select
        id, user_id, subject_type, created, updated
        from user_subject_type
        <where>
            user_id = #{userId}
            <if test="page.query!=null &amp;&amp; page.query.length()>0">
                and subject_type like "%"#{page.query}"%"
            </if>
        </where>
        limit #{start},#{page.size}
    </select>
</mapper>
